---
layout: default
title: upcoming events.
description: a list of our events
portfolio_title: events portfolio.
add-js: future_events.js
---
<header class="min-[340px]:mx-8 my-28">
    <h1>{{ page.title }}</h1>
</header>

{% assign portfolio_events = site.documents | where: "tags", "portfolio" %}
{% capture now_seconds %}{{'now' | date: '%s'}}{% endcapture %}

<div class="flex justify-center mb-28">

    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-8">
    {% for event in site.events %}
        {% capture event_seconds %}{{event.end_date | date: '%s'}}{% endcapture %}
        {% capture event_date %}{{event.end_date | date: '%Y-%m-%d'}}{% endcapture %}

        {% if event.start_date == event.end_date %}
        {% capture date_string %} {{event.start_date | date: "%d.%m.%Y"}}{% endcapture %}
        {% else %}
        {% capture date_string %}{{event.start_date | date: "%d.%m.%Y"}} - {{event.end_date | date: "%d.%m.%Y"}}{% endcapture %}
        {% endif %}
        
        {% if event_seconds >= now_seconds %}
        
        <div future-date="{{ event_date }}" class="w-full max-w-64 lg:w-64 links-without-underline">
            <div class="font-prachtsaal text-right text-sm">{{ date_string }}</div>
            <a href="{{ event.url | relative_url }}" class="flex flex-col">
                {% if event.main_image %}
                <img class="w-64" src="{{ event.main_image | relative_url }}">
                {% endif %}
                <div class="font-prachtsaal font-bold text-lg">{{ event.title }}</div>
                <hr class="border-1 border-black">
                <div class="font-prachtsaal">{{ event.subtitle }}</div>
                <div class="mt-2">{{ event.description }}</div>
            </a>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>

<div class="m-8 bg-black text-white">
    <header class="py-14 min-[400px]:px-8">
        <h1>{{ page.portfolio_title }}</h1>
    </header>
    
    <div class="flex justify-center mb-28">

        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-8 mb-14">
            {% for event in portfolio_events %}
            {% if event.start_date == event.end_date %}
            {% capture date_string %} {{event.start_date | date: "%d.%m.%Y"}}{% endcapture %}
            {% else %}
            {% capture date_string %}{{event.start_date | date: "%d.%m.%Y"}} - {{event.end_date | date: "%d.%m.%Y"}}{% endcapture %}
            {% endif %}
        
            <div class="w-full max-w-64 lg:w-64 links-without-underline">
                <div class="font-prachtsaal text-right text-sm">{{ date_string }}</div>
                <a href="{{ event.url | relative_url }}">
                    {% if event.main_image %}
                    <img class="w-64" src="{{ event.main_image | relative_url }}">
                    {% endif %}
                    <div class="font-prachtsaal font-bold text-lg">{{ event.title }}</div>
                    <div class="font-prachtsaal">{{ event.subtitle }}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
