---
layout: default
title: People
orgs-title: Communities
alumni-title: Alumni
description: members and associated organizations
---

<div class="people" id="peeps">
        {% assign n = site.members | size %}
		{% assign members = site.members | sample: n %}
		{% for member in members %}
        {% if member.current == true %}
        <div>
            {% assign content = member.content | strip_newlines %}
            <a href="{{ member.url | relative_url }}">
            <img src="{{ member.thumb | relative_url }}">
            <span>{{ member.full_name }}</span><br />
            <span>{{ member.description }}</span>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
 <script>
  // Randomize the order of the list of members
  const container = document.getElementById('peeps'); 
  const children = [...container.children];
  children.sort(() => Math.random() - 0.5);
  container.append(...children);  
</script>

<h1 >
    {{ page.alumni-title }}
</h1>

	<div class="people">
        {% assign n = site.members | size %}
		{% assign members = site.members | sample: n %}
		{% for member in members %}
		
        {% if member.current == false %}
        <div>
            {% assign content = member.content | strip_newlines %}

            {% if content != "" %}
            <a href="{{ member.url | relative_url }}">
            {% endif %}

                {% if member.thumb %}
                <img src="{{ member.thumb | relative_url }}">
                {% endif %}

                <span>
                  <span>{{ member.full_name }}</span><br />
                  <span>{{ member.description }}</span>
                </span>

            {% if content != "" %}
            </a>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>


<h1 >
    {{ page.orgs-title }}
</h1>


<div class="people">
    {% for org in site.data.communities %}
        {% if org.visible %}
        <div >
            <a href="{{ org.website | relative_url }}" target="_blank">
                {% if org.thumb %}
                <img  src="{{ org.thumb | relative_url }}">
                {%else %}
                <div>
                    <div>{{ org.name }}</div>
                </div>
                {% endif %}
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>


</div>
        
