---
layout: default
title: Prachtsaal's Open Call for New Tenant Artists
---
<header>
  <h1>Open call to all artists</h1>
</header>
<section id="call">
  {% include figure.html src="prachtsaal-open-call.jpg" title="Unit 2" %}
  <p>
    We’re looking for new people to join us at Prachtsaal Studio, our beautiful open space in
    Neukölln (halfway between U-Leinestraße and U-Hermannstraße)!
  </p>
  <p>
    You’ll be meeting Chloe (painter), Javi (mixed media artist), Julia (illustrator/psychologist), Kazik (generative
    artist), Lamia (tape artist/mixed media artist), Marta (illustrator/graphic designer), Martyna (painter), Robert
    (tape artist/installation artist), Stephan (mixed media artist), Valerio (painter/graphic designer).
  </p>
  <p>
    The open space (area: 342 m2) is divided in a total of 10 ateliers, 4 of which are going to be available starting
    from 1 January 2024. Great way to kick-start the new year, if you ask me!
  </p>
  <p>The available areas are:</p>
  <ul>
    <li>Unit 2 (490 €/month, 20 m2, can host a maximum of 3 people)</li>
    <li>Unit 3 (425 €/month, 18.2 m2, can host a maximum of 3 people)</li>
    <li>Unit 7 (390 €/month, 15.4 m2, can host a maximum of 2 people)</li>
    <li>Unit 8 (525 €/month, 20.3 m2, can host a maximum of 3 people)</li>
  </ul>
  <p>
    Depending on your artistic practice, there are different characteristics you might find useful for each of the units
    (windows to facilitate airflow, presence of high ceilings, etc.) so if you’re in doubt you’re super welcome to drop
    by and check them out in person.
  </p>
  <p>
    Additionally, there’s a nice luminous foyer that we’re currently using for our temporary exhibitions, a kitchen, a
    Kellar, a garden (80 m2), a wood workshop, and an area (50 m2) which will be soon made into a venue suitable for
    events (such as workshops, concerts, art exhibitions, etc.).
  </p>
  <p>
    On this note, it’s important to add that most of the current tenants are in the process of constituting a non-profit
    cooperative (Genossenschaft): if you’re interested in collaborating with us and shape the vision of Prachtsaal as a
    full on artistic pole of culture and education, we’ll be more than happy to share further information with you and
    consider your application as one of the members. Alternatively, you can also just rent your own space.
  </p>
  {% include figure.html src="unit3.jpg" title="Unit 3" %}
  {% include figure.html src="unit7.jpg" title="Unit 7" %}
  {% include figure.html src="unit8.jpg" title="Unit 8" %}
  <p>
    Ps: please note that we’re moving things around a bit at the moment so the units depicted in the attached pics won’t
    necessarily feature all of the furniture and things you’re seeing now.
  </p>
  <p>
    For further questions, drop us a line via <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;">&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;</a>
  </p>
</section>
