@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  color: rgb(31, 31, 31);
  font-size: clamp(1rem, 4vw, 2rem);
  background: white;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1300px) {
  body {
    max-width: 61.8vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

nav {
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
}

nav ul li {
  display: inline;
}

footer {
  text-align: center;
}

header h1 {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Outfit', sans-serif;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

header h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Outfit', sans-serif;
  padding-top: 0rem;
  padding-bottom: 1rem;
}

p, ul {
  font-weight: normal;
  line-height: 1.68rem;
}

li {
  margin-left: 1.68rem;
  line-height: 1.68rem;
}

.video {
  aspect-ratio: 16 / 9;
  width: 100%;
}

section {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

img {
  width: 100%;
  height: auto;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
}

.shout {
  font-size: 2rem;
  text-align: center;
}
