#newsletter {
  text-align: center;
}

#newsletter input {
  font-size: 1rem;
  padding: .5rem;
}

#newsletter input[type="submit"] {
  color: white;
  background: red;
  border: 0;
  cursor: pointer;
}

#newsletter input[type="submit"]:disabled {
  background: gray;
  cursor: default;
}
