---
layout: default
title: Prachtsaal's Open Call for New Tenant Artist
---
<header>
  <h1>Open call to all artists</h1>
</header>
<section id="call">
  {% include figure.html src="prachtsaal-open-call.jpg" %}
  <p>
    We’re looking for someone to join us at Prachtsaal Studio, our beautiful open space in
    Neukölln (halfway between U-Leinestraße and U-Hermannstraße)!
  </p>
  <p>
    You’ll be meeting Chloe (painter), Zack (multidisciplinary artist), Julia (illustrator/psychologist), Kazik (generative
    artist), Lamia (tape artist/mixed media artist), Marta (illustrator/graphic designer), Martyna (painter), Robert
    (tape artist/installation artist), Stephan (mixed media artist), Valerio (painter/graphic designer),
    Liza (visual poet), Mason (video artist), Hani (photographer, video/installation artist),
    Abe (generative/computational artist), Claudine (multidisciplinary artist), Grit (animator, visual and generative artist), and more!
  </p>
  <p>
    Here is the <a href="https://drive.google.com/file/d/1XK5AtJL7JwCNUkvwNr9UbJcTWhCrHDYF/view?usp=sharing">catalog of our work</a>.
  </p>
  <p>
    The open space (area: 342 m<sup>2</sup>) is divided in a total of 10 ateliers. We seek
    one person to share an atelier with the existing tenant, available as of now.

  </p>
  <p>
  {% include figure.html src="unit9.jpg" title="Unit 9b available for rent. €233.52/month for 10 m<sup>2</sup>." %}

  <p>
    You’re super welcome to drop by and check the spaces in person while also meeting us.
  </p>
  <p>
    Additionally, there’s a nice luminous foyer that we’re currently using for our exhibitions, a kitchen, a
    Kellar, a garden (80 m<sup>2</sup>), a wood workshop, and an area (50 m<sup>2</sup>) which will be soon made into a venue suitable for
    events (such as workshops, concerts, art exhibitions, etc.).
  </p>
  <p>
    On this note, it’s important to add that most of the current tenants are in the process of forming a non-profit
    cooperative (Genossenschaft): if you’re interested in collaborating with us and shape the vision of Prachtsaal as a
    full on artistic nexus of culture and education, we’ll be more than happy to share further information with you and
    consider your application as one of the members.
  </p>

  <h2>Applying</h2>
  
  <p>
    If you are interested, please send your application to: 
    <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;">&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;</a>
    including your portfolio, and an artist CV. If you don't have a CV, no worries, please send us any links to your online presence, and a list of relevant performances, exhibitions, residencies, or education. 
          The space is only to be used as an art atelier, so we just would like to see that you do have an art practice of some kind.
  </p>

  <h3>Next steps</h3>
    
  <ul>
    <li>You visit the studio.
    <li>You have a video call with studio members. This is because the members have very varied schedules, and may not be in the studio when you come visit.
    <li>Because the studio is an art cooperative, the cooperative members will vote on new members. We will let you know after the vote, which will take at least a week to give members time to vote.
  </ul>    
</section>
