---
layout: default
title: Prachtsaal's Open Call for New Tenant Artist
---
<header>
  <h1>Open call to all artists</h1>
</header>
<section id="call">
  {% include figure.html src="prachtsaal-open-call.jpg" %}
  <p>
    We’re looking for someone to join us at Prachtsaal Studio, our beautiful open space in
    Neukölln (halfway between U-Leinestraße and U-Hermannstraße)!
  </p>
  <p>
    You’ll be meeting Chloe (painter), Javi (mixed media artist), Julia (illustrator/psychologist), Kazik (generative
    artist), Lamia (tape artist/mixed media artist), Marta (illustrator/graphic designer), Martyna (painter), Robert
    (tape artist/installation artist), Stephan (mixed media artist), Valerio (painter/graphic designer),
    Liza (visual poet), Mason (video artist), Hani (photographer, video/installation artist),
    Abe (generative/computational artist), Claudine (multimedia artist), Grit (animator, visual and generative artist), and more!
  </p>
  <p>
    Here is the <a href="https://drive.google.com/file/d/1XK5AtJL7JwCNUkvwNr9UbJcTWhCrHDYF/view?usp=sharing">catalog of our work</a>.
  </p>
  <p>
    The open space (area: 342 m<sup>2</sup>) is divided in a total of 10 ateliers. We seek
    someone to share one atelier with the existing tenant, available as of now.

  </p>
  <p>Details:</p>
  {% include figure.html src="unit7-square.jpg" title="Unit available for rent" %}

  <ul>
    <li>€195/month for roughly 7.7 m<sup>2</sup>. (or, one half of €390/month for 15.4 m<sup>2</sup>)</li>
  </ul>
  <p>
    You’re super welcome to drop by and check the space in person while also meeting us.
  </p>
  <p>
    Additionally, there’s a nice luminous foyer that we’re currently using for our exhibitions, a kitchen, a
    Kellar, a garden (80 m<sup>2</sup>), a wood workshop, and an area (50 m<sup>2</sup>) which will be soon made into a venue suitable for
    events (such as workshops, concerts, art exhibitions, etc.).
  </p>
  <p>
    On this note, it’s important to add that most of the current tenants are in the process of forming a non-profit
    cooperative (Genossenschaft): if you’re interested in collaborating with us and shape the vision of Prachtsaal as a
    full on artistic nexus of culture and education, we’ll be more than happy to share further information with you and
    consider your application as one of the members.
  </p>
  <p>
    For further questions, drop us a line via <a href="mailto:&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;">&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#97;&#99;&#104;&#116;&#115;&#97;&#97;&#108;&#46;&#98;&#101;&#114;&#108;&#105;&#110;</a>
  </p>
</section>
