<footer>
    <div>
          Prachtsaal Studio <br>
          Jonasstraße 22 <br>
          12053 Berlin<br>
     </div>
     <div>
          <a href="https://instagram.com/prachtsaal" target="_blank">
            <img src={{ "/assets/img/Instagram_Glyph_white_logo.svg.webp" | relative_url }} alt="Instagram logo" > Instagram
          </a>
          <br>
          <a href="https://buttondown.com/prachtsaal.berlin" target="_blank">
            <img src={{ "/assets/img/buttondown-logo.webp" | relative_url }} alt="Buttondown logo" > Newsletter
          </a>
          <br>
    </div>
    <div >
        Copyright &copy; <span id="Y">2025</span><script>document.getElementById('Y').textContent=new Date().getFullYear()</script> 
        <br>Prachtsaal Studio
		<br><a href={{ "impressum.html" | relative_url }}>Impressum</a>
    </div>
</footer>
