<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Prachtsaal Studio
    </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
      <div class="navbar-nav">
        <a class="nav-link" href="/events/">events</a>
        <a class="nav-link" href="/communities/">communities</a>
        <a class="nav-link" href="/cooperative/">cooperative</a>
        <a class="nav-link" href="/history/">history</a>
      </div>
  
    </div>
    <!-- navbar-right -->
  </div> 
  <!-- container -->
</nav>
