<nav class="flex nav-x nav-y justify-between items-start">
  <div>
    <a href="/">
      <img src="/assets/img/prachtsaal-logo.png" width="100px">
    </a>
  </div>
  
  <div>
    <div class="flex justify-end cursor-pointer sm:hidden" id="burger">
      <svg class="w-6 h-6" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"></path></svg>
    </div>  
    <!-- <div class="hidden block sm:flex sm:flex-row sm:space-x-12" id="menu"> -->
    <div class="hidden sm:flex" id="menu">
      <ul class="sm:flex sm:flex-row sm:space-x-12 list-none">
        <li><a href="/events/">events</a></li>
        <li><a href="/people/">people</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/#contact">contact</a></li>
      </ul>
      
    </div>  
  </div>
</nav>  
