/* Hey, welcome to Prachtsaal's CSS file.
This file have 3 big chapetrs :
_ GLOBAL -> Rules the whole website
_ HEADER -> Rules the Title and menu
_ CONTENT -> Rules refering to specific pages
_ FOOTER -> Rules for the footer
*/

/* GLOBAL CSS */

:root {
  --links-hover-color: #39ff14;
  --shadows-color: grey;
}

html {
    font-size: clamp(1rem, 1vw, 1.2rem);
    background : white; 
}

body{
    top :4px;
    padding: 0px;
    margin:0px;
    position: absolute;
    left: 25%;
    width: 50%;
    font-family: arial;
    max-width: 1000px;
}

@media (max-width: 1000px) {
    body{
        left: 15%;
        width:70%;  
    }
}

@media (max-width: 768px) {
    body{
        left: 2px;
        width:calc(100% - 4px);   
    }
}

a {
   text-decoration : none;
}

a:visited {
}

a:hover {
      color: var(--links-hover-color);
}

img {
    display: block;
    width: 100%;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

ul {
}

li {
}

iframe{
    width : calc(50% - 4px);
}

/* NAVIGATION */

header {
}

nav {
    width : 100%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

nav > div {
        filter: drop-shadow(2px 2px 4px var(--shadows-color)); 
}

#menu {
    border-bottom: dashed;
    border-radius: 0px 0px 20px 20px;
}

#menu li{
        padding: 0px;
        margin : 0px;
        display: inline-block;
        width: calc(25% - 4px);
        font-size : 16pt;
    }
    
#menu a {
        text-decoration: none;
        color : black;
    }
    
#menu a:visited {
        color: black;
    }
    
#menu a:hover {
        color: var(--links-hover-color);
    }


#burger {
    display : none;
}

/* CONTENTS */

.people {
    display: flex;
    flex-flow: wrap;
}

.people img {
    width : 100%;
    filter: grayscale();
    box-shadow: 2px 2px 7px var(--shadows-color);
}
    
.people img:hover {
        filter: none;
}

.people > div{
    width:25%;
    display : flex;
    width : calc(25% - 20px);
    margin : 10px;
}

#member{
    display: flex;
    flex-flow: wrap;
}
#member > div{
    width:calc(50% - 10px);
    display : flex;
    margin : 5px;
}

.archive {
    display: flex;
    flex-flow: wrap;
}

    
.archive div {
    width : calc(50% - 20px );
    height : 200px;
    margin : 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
    
.archive img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}


/* FOOTER */

footer {
    display: flex;
    color: white;
    background-color: black;
    padding : 10px;
    margin: -2px;
    border-radius: 15px 15px 0px 0px;
    filter: drop-shadow(2px 2px 4px var(--shadows-color)); 
}

footer a{
    color: white;
}

footer a:visited{
    color: white;
}
footer a:hover{
    color: var(--links-hover-color);
}

footer img {
    width: 10%;
    display : inline;
    translate: 0% 20%;
}

footer div {
    width : 25%;
}
