{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<div class="archive">
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
    {% if page.extra.archive %}
    <div>
    	{% for asset in page.assets %}
          {% if asset is matching(".*thumb.*") %}
            {% set image = resize_image(path=asset, width=500, height=500, op="fill", format="webp", quality=90) %}
                <a href="{{ page.permalink | safe }}"><img src="{{ image.url }}"></a>
            {% break %}
          {% endif %}
        {% endfor %}
    </div>
    <div class="eventInfo">
  	  <a href="{{ page.permalink | safe }}">
  		  <h2>{{ page.date }}<br/>{{ page.title }}</h2>
  		  <h3>{{ page.extra.subtitle }}</h3>
  	  </a>
	  {% if page.extra.tags %}
	  <small>{{ page.extra.tags | join(sep=", ") }}</small>
	  {% endif %}
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock content %}
