{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock %}

{% block content %}

  <h1 class="title">  {{ page.title }}</h1>
  <h2>{{ page.extra.subtitle }}<br/>{{ page.date }}</h2>

  {% for asset in page.assets -%}
    {% if 'thumb' in asset %}
      {% set image = resize_image(path=asset, width=2000, height=2000, op="fit_width", format="webp", quality=90) %}
      <p><img src="{{ image.url }}"></p>
    {% endif %}
  {%- endfor %}

  {{ page.content | safe }}

  {% for asset in page.assets -%}
    {% if 'thumb' not in asset and 'mp4' not in asset %}
      {% set image = resize_image(path=asset, width=2000, height=2000, op="fit_width", format="webp", quality=90) %}
      <img src="{{ image.url }}" data-lightbox="{{ image.url }}">
    {% endif %}
  {%- endfor %}

  {% include "photoSlideshow.html" %}

{% endblock content %}

