<footer>
    <div>
          Prachtsaal Studio <br>
          Jonasstraße 22 <br>
          12053 Berlin<br>
     </div>
     <div>
          <a href="https://instagram.com/prachtsaal" target="_blank">
            <img src="{{ get_url(path='img/Instagram_Glyph_white_logo.svg.webp') }}" alt="Instagram logo"> Instagram
          </a>
          <br>
          <a href="https://buttondown.com/prachtsaal.berlin" target="_blank">
            <img src="{{ get_url(path='/img/buttondown-logo.webp') }}" alt="Buttondown logo"> Newsletter
          </a>
          <br>
    </div>
    <div >
        Copyright &copy; <span id="Y">2025</span><script>document.getElementById('Y').textContent=new Date().getFullYear()</script> 
        <br>Prachtsaal Studio
		<br><a href="{{ get_url(path='impressum') }}">Impressum</a>
    </div>
</footer>
