{% extends "base.html" %}

{% block title %}{{ section.title }} - {{ config.title }}{% endblock %}

{% block content %}

<div class="people">
  {% for member in section.pages | filter(attribute="extra.current", value=true) %}

  <div>
    <a href="{{ member.permalink | safe }}">

      {% set_global found = false %}
      {% for asset in member.assets %}
      	{% if asset is matching(".*thumb.*") %}
	  {% set image = resize_image(path=asset, width=500, height=500, op="fill", format="webp", quality=90) %}
      <img src="{{ image.url }}">
	  {% set_global found = true %}
	  {% break %}
	{% endif %}
      {% endfor %}

      {% if found == false %}
        <img src="{{ get_url(path='anonymous.svg') }}">
      {% endif %}
	    
      <h2>{{ member.extra.fullName }}</h2>
      {{ member.extra.description }}
    </a>
  </div>

  {% endfor %}
</div>

<script>
  // Randomize the order of the list of members
  const container = document.getElementsByClassName("people")[0];
  const children = [...container.children];
  children.sort(() => Math.random() - 0.5);
  container.append(...children);  
</script>

<h1>Alumni</h1>

<div class="people">
  {% for member in section.pages | filter(attribute="extra.current", value=false) %}

  <div>
    <a href="{{ member.permalink | safe }}">

      {% set_global found = false %}
      {% for asset in member.assets %}
      	{% if asset is matching(".*thumb.*") %}
	  {% set image = resize_image(path=asset, width=500, height=500, op="fill", format="webp", quality=90) %}
  	  <img src="{{ image.url }}">
	  {% set_global found = true %}
	  {% break %}
	{% endif %}
      {% endfor %}

      {% if found == false %}
        <img src="{{ get_url(path='anonymous.svg') }}">
      {% endif %}
	    
      <h2>{{ member.extra.fullName }}</h2>
      {{ member.extra.description }}
    </a>
  </div>

  {% endfor %}
</div>


<h1>Communities</h1>
<div class="people">
  {% for community in section.extra.communities %}
    {% if community.thumb %}
    <div>
      <a href="{{ community.website }}"><img 
        src="{{ get_url(path='img/communities/' ~ community.thumb) }}" alt="{{ community.name }}"></a>
    </div>
    {% else %}
    <div class="nameOnly">
	<div>
		{% if community.website %}
		<a href="{{ community.website }}">{{ community.name }}</a>
		{% else %}
		  {{ community.name }}
		{% endif %}
	</div>
    </div>
    {% endif %}
  {% endfor %}
</div>



{% endblock content %}
