/* Hey, welcome to Prachtsaal's CSS file.
This file have 3 big chapetrs :
_ GLOBAL -> Rules the whole website
_ HEADER -> Rules the Title and menu
_ CONTENT -> Rules refering to specific pages
_ FOOTER -> Rules for the footer
_ RESPONSIVENESS -> Rules override for responsiveness
*/

/* GLOBAL CSS */

@keyframes rainbow { to { background-position: 100%; } }

:root {
  --links-hover-color: #39ff14;
  --shadows-color: grey;
}

html {
    font-size: clamp(1rem, 1vw, 1.2rem);
    background : white;
}

body{
    top :4px;
    padding: 0px;
    margin:0px;
    position: absolute;
    left: 25%;
    width: 50%;
    font-family: Verdana;
    max-width: 1000px;
}

a {
   text-decoration : none;
}

a:visited {
}

a:hover {
      color: var(--links-hover-color);
}


img {
    display: block;
    width: 100%;
}

h1 {
}

h2 {
}

h3 {
}

p {
}

ul {
}

li {
}

iframe{
    width : calc(50% - 4px);
}

/* NAVIGATION */

header {
}

nav {
    width : 100%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
}

nav > div {
    filter: drop-shadow(2px 2px 4px var(--shadows-color)); 
}

#menu {
    display : block;
    border-bottom: dashed;
}
    
#menu > a {
    text-decoration: none;
    color : black;
    padding: 10px;
    margin : 0px;
    display: inline-block;
    width: calc(25% - 25px);
    font-size : 16pt;
    text-align : center;
}
    
#menu a:visited {
    color: black;
}
    
#menu a:hover {
        color: var(--links-hover-color);
    }


#burger {
    display : none;
}

/* CONTENTS */

#fun{
    position: relative;
    width : 100%;
    height : 200px;
    filter: drop-shadow(2px 2px 4px var(--shadows-color));

}

#fun span {
  position: absolute;
  left: 40%;
  top : 25%;
  animation: magical var(--duration, 120s) var(--delay, 0s) infinite ease-in-out;

}

/* Lovely <3 */
@keyframes magical {
  0%, 100% { transform: translate(calc(var(--x2, 100) * 3%), calc(var(--y1, 100) * 3%)) scale(calc(var(--x1, 1) * var(--x1, 1) * 0.0001)); }
  25% { transform: translate(calc(var(--x1, 100) * 3%), calc(var(--y2, 100) * 3%)) scale(calc(var(--x2, 1) * var(--x2, 1) * 0.0001)); }
  50% { transform: translate(calc(var(--x2, 0) * 3%), calc(var(--y3, 0) * 3%)) scale(calc(var(--x3, 1) * var(--x3, 1) * 0.0001)); }
  75% { transform: translate(calc(var(--x3, 200) * 3%), calc(var(--y2, 50) * 3%)) scale(calc(var(--y1, 1) * var(--y1, 1) * 0.0001)); }
}

#fun span:nth-child(1) { --duration: 16s; --x1: 120; --y1: 80; --x2: -50; --y2: -40; --x3: 90; --y3: 30; }
#fun span:nth-child(2) { --duration: 27s; --x1: -100; --y1: 60; --x2: 130; --y2: -20; --x3: -70; --y3: 50; }
#fun span:nth-child(3) { --duration: 18s; --x1: 80; --y1: -90; --x2: -120; --y2: 40; --x3: 60; --y3: -30; }
#fun span:nth-child(4) { --duration: 25s; --x1: -70; --y1: 100; --x2: 110; --y2: -60; --x3: -40; --y3: 20; }
#fun span:nth-child(5) { --duration: 19s; --x1: 150; --y1: -70; --x2: -90; --y2: 30; --x3: 100; --y3: -50; }
#fun span:nth-child(6) { --duration: 26.5s; --x1: -130; --y1: 40; --x2: 80; --y2: -80; --x3: -60; --y3: 60; }
#fun span:nth-child(7) { --duration: 17.5s; --x1: 90; --y1: 110; --x2: -100; --y2: -10; --x3: 70; --y3: -40; }
#fun span:nth-child(8) { --duration: 25.5s; --x1: -80; --y1: -50; --x2: 140; --y2: 20; --x3: -30; --y3: 70; }
#fun span:nth-child(9) { --duration: 18.5s; --x1: 110; --y1: 30; --x2: -150; --y2: 60; --x3: 50; --y3: -20; }
#fun span:nth-child(10) { --duration: 26.8s; --x1: -60; --y1: 80; --x2: 100; --y2: -70; --x3: -90; --y3: 40; }
#fun span:nth-child(11) { --duration: 32.2s; --x1: 120; --y1: -40; --x2: -70; --y2: 50; --x3: 80; --y3: -60; }
#fun span:nth-child(12) { --duration: 44.5s; --x1: -170; --y1: 20; --x2: 120; --y2: -30; --x3: -50; --y3: 30; }
#fun span:nth-child(13) { --duration: 31.5s; --x1: 40; --y1: 110; --x2: -110; --y2: -20; --x3: 70; --y3: -140; }
#fun span:nth-child(14) { --duration: 14.5s; --x1: -40; --y1: -50; --x2: 130; --y2: 70; --x3: -20; --y3: 70; }
#fun span:nth-child(15) { --duration: 19.4s; --x1: 130; --y1: 60; --x2: -110; --y2: 30; --x3: 50; --y3: -70; }
#fun span:nth-child(16) { --duration: 28.8s; --x1: -80; --y1: 80; --x2: 90; --y2: -10; --x3: -40; --y3: 40; }
#fun span:nth-child(17) { --duration: 49.2s; --x1: 160; --y1: -40; --x2: -90; --y2: 30; --x3: 80; --y3: -10; }
#fun span:nth-child(18) { --duration: 38.6s; --x1: -120; --y1: 20; --x2: 0; --y2: -50; --x3: -50; --y3: 20; }

.rainbow-link { 
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3); background-size: 400% 100%; 
    -webkit-background-clip: 
    text; background-clip: text; 
    color: transparent; 
    animation: rainbow 10s linear infinite; 
} 

.rainbow-link:visited { 
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3); background-size: 400% 100%; 
    -webkit-background-clip: 
    text; background-clip: text; 
    color: transparent; 
    animation: rainbow 10s linear infinite; 
}

.rainbow-link:hover { 
    background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3); background-size: 400% 100%; 
    -webkit-background-clip: 
    text; background-clip: text; 
    color: transparent; 
    animation: rainbow 10s linear infinite; 
} 


#index-img{
    translate: -2px 10%; 
    border-radius: 10px; 
    width:calc(100% + 4px); 
    box-shadow: 1px 1px 3px var(--shadows-color);
}

.people {
    display: flex;
    flex-flow: wrap;
}

.people img {
    object-fit: cover;
    filter: saturate(95%) hue-rotate(5deg);
    box-shadow: 2px 2px 7px var(--shadows-color);
}
    
.people img:hover {
    filter: none;
    filter: saturate(120%) hue-rotate(-5deg);
}

.people > div{
    display : flex;
    width : calc(25% - 20px);
    margin : 10px;
}

#member{
    display: flex;
    flex-flow: wrap;
}
#member > div{
    width:calc(50% - 10px);
    display : block;
    flex-direction: row;
    margin : 5px;
}

.archive {
    display: flex;
    flex-flow: wrap;
}

    
.archive div {
    width : calc(50% - 20px );
    aspect-ratio : 1;
    margin : 10px;
    display : flex;


}
    
.archive img {
    min-width: 100%;
    min-height: 100%;
    width : auto;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */

footer {
    display: flex;
    color: white;
    background-color: black;
    padding : 12px;
    margin: -2px;
    margin-top : 6px;
    border-radius: 15px 15px 0px 0px;
    filter: drop-shadow(2px 2px 4px var(--shadows-color));
    line-height: 18pt;
}

footer a{
    color: white;
}

footer a:visited{
    color: white;
}
footer a:hover{
    color: var(--links-hover-color);
}

footer img {
    width: 10%;
    display : inline;
    translate: 0% 20%;
}

footer > div {
    width : 33.3%;
    padding-left : 10px;
}


@media (max-width: 1000px) {
    body{
        left: 15%;
        width:70%;  
    }
}


@media (max-width: 768px) {
    body{
        left: 2px;
        width:calc(100% - 4px);
        font-size: 10pt;
    }
    
    #fun {
        overflow : hidden;
    }
    
   .people > div{
        display : flex;
        width : calc(33% - 10px);
        margin : 5px;
    }
}
