<!doctype html>
<html lang="en" class="font-sans">

<head>
  <meta charset="utf-8">
  <link href={{ "/assets/css/styles.css" | relative_url }} rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href={{ "/apple-touch-icon.png" | relative_url }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ "/favicon-32x32.png"| relative_url }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ "/favicon-16x16.png" | relative_url }}>
  <link rel="manifest" href={{ "/site.webmanifest" | relative_url }}>
  <title>
    {% assign prefix = "Prachtsaal Studio" %}
    {% if page.title == prefix %}
      {{ prefix }}
    {% else %}
      {{ prefix }}: {{ page.title }}
    {% endif %}
  </title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  {% if page.add-js %}
  <script src={{ "/assets/js/" | append: page.add-js | relative_url }}></script>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="flex flex-col w-full">
    <div>
      {% include navigation.html %}
    </div>

    <div>
    {{ content }}
    </div>

    <div class="bg-black text-gray-400 mt-16">
      {% include footer.html %}
    </div>
  </div>

  <script src={{ "/assets/js/menu.js" | relative_url }}></script>
</body>

</html>
