---
layout: default
add-js: newsletter.js
---
<header class="bg-[url('/assets/img/home/404_crop.jpeg')] h-96 bg-center bg-cover">
  <div class="py-24 px-4 text-white sm:px-24">
    <h1 class="text-left">{{ page.title }}</h1>
    <h2 class="text-left mt-2">{{ page.subtitle }}</h2>  
  </div>
</header>

<div class="flex flex-col items-center">

  <div class="m-8 md:w-[760px] text-lg">
    {{ content | markdownify }}
  </div>

  <h1>news</h1>

<div class="flex justify-center mb-28">

  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mx-8">
    {% assign all_news = site.posts | where: "categories", "news" %}
    {% for news in all_news %}
      {% capture news_seconds %}{{news.date | date: '%s'}}{% endcapture %}
      {% capture news_date %}{{news.date | date: '%Y-%m-%d'}}{% endcapture %}

      {% capture date_string %} {{news.date | date: "%d.%m.%Y"}}{% endcapture %}

      {% if news_seconds >= now_seconds %}
      
      <div class="w-full max-w-64 lg:w-64 links-without-underline">
          <div class="font-prachtsaal text-right text-sm">{{ date_string }}</div>
          <a href="{{ news.url }}" class="flex flex-col">
              {% if news.main_image %}
              <img class="w-64" src="{{ news.main_image }}">
              {% endif %}
              <div class="font-prachtsaal font-bold text-lg">{{ news.title }}</div>
              <hr class="border-1 border-black">
              <div class="font-prachtsaal">{{ news.subtitle }}</div>
              <div class="mt-2">{{ news.description }}</div>
          </a>
      </div>
      {% endif %}
  {% endfor %}
  </div>
</div>

</div>

<!-- videos -->
<div class="m-8 flex flex-col lg:flex-row items-center justify-around gap-4 w-full">

  <iframe class="w-3/4 lg:w-1/2 aspect-video" src="https://www.youtube.com/embed/MpDpfBIY1_M" title="George Adje &amp; Dan Gorelick @ Prachtsaal Studio" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

  <iframe class="w-3/4 lg:w-1/2 aspect-video" src="https://www.youtube.com/embed/mwsOSaVNXks" title="Luminiferous Aether, an installation for 48h Neukölln 2021 festival in Berlin" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  
</div>


<!-- contact -->
<div class="bg-black text-white p-16">
  <h1 class="mb-4"><a name="contact"></a>contact us</h1>
  <div class="flex flex-row justify-center">
    <div class="flex flex-row justify-end mx-8 md:w-[650px]">
        <div>
          Prachtsaal Studio <br>
          Jonasstraße 22 <br>
          12053 Berlin<br>
          <br>  
          <a href="https://instagram.com/prachtsaal_" target="_blank">
            <img src="/assets/img/Instagram_Glyph_white_logo.svg.png" class="size-6">
          </a>
      </div>
  
    </div> <!-- fixed width -->
  </div> <!-- flex justify-center -->
  
</div>
