---
layout: default
---
<div class="flex flex-row nav-x justify-center">
    <div>
        <a href={{ "/people.html" | relative_url }}><span class="font-bold">&lt;</span> back to all artists</a>
        <header class="my-16 text-left">
            <h1 class="text-left">{{ page.full_name }}</h1>
        </header>
        <div class="grid md:grid-cols-2 gap-16 xl:max-w-[1520px]">
            {% if page.portrait %}
            <div class="max-w-1/2">
                <img src="{{ page.portrait | relative_url }}">    
            </div>
            {% endif %}
            <div>
                <div>
                    {{ content | markdownify }}

                    {% if page.website %}
                    {% if page.website.first %}
                      <br><span class="font-bold">websites:</span> 
                      <ul>
                      {% for www in page.website %}
                        <li><a href="{{ www | relative_url }}">{{ www }}</a></li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      <br><span class="font-bold">website:</span> 
                      <a href="{{ page.website | relative_url }}">{{ page.website }}</a>
                    {% endif %}
                    {% endif %}

                    {% if page.socials %}
                    {% if page.socials.first %}
                    <br><span class="font-bold">socials:</span><br>
                    <ul>
                        {% for link in page.socials %}
                        <li><a href="{{ link | relative_url }}">{{ link }}</a></li>
                        {% endfor %}    
                    </ul>
                    {% else %}
                      <br><span class="font-bold">social:</span> 
                      <a href="{{ page.socials | relative_url }}">{{ page.socials }}</a>
                    {% endif %}
                    {% endif %}
                </div>

                {% if page.portfolio_image_locations %}
                <br>
                <div class="grid grid-flow-row lg:grid-col-3 gap-2">
                    {% for image in page.portfolio_image_locations %}
                    <img src="{{ image | relative_url }}" class="w-64 object-cover caesar-lightbox cursor-pointer">
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include lightbox.html %}
