---
layout: default
---

        <h3><a href={{ "/people.html" | relative_url }}>&lt; Back to all artists</a></h3>

        <h1>{{ page.full_name }}</h1>
        
        {% for www in page.website %}
            <a href="{{ www | relative_url }}">{{ www }}</a><br>
		{% endfor %}

		{% for link in page.socials %}
              <a href="{{ link | relative_url }}">{{ link }}</a><br>
		{% endfor %} 

        <div id="member">
            {% if page.portrait %}
			<div>
                <img src="{{ page.portrait | relative_url }}">    
            </div>
            {% endif %}
            
            <div>
				{{ content | markdownify }}
           </div>

           {% if page.portfolio_image_locations %}
			{% for image in page.portfolio_image_locations %}
				<div><img src="{{ image | relative_url }}"></div>
			{% endfor %}
           {% endif %}
</div>

{% include lightbox.html %}
