name: Build and Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:  # allows manual trigger

permissions:
  contents: write

concurrency: ci-${{ github.ref }}

jobs:
  deploy:
    name: Build and deploy website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.4' # Not needed with a .ruby-version file
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
          cache-version: 0 # Increment this number if you need to re-download cached gems

      - name: Build static site # creates website in folder _site
        run: bundle exec jekyll build

      - name: Deploy website
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: _site
          branch: gh-pages
          clean-exclude: pr-preview  # used for preview of PRs
          force: false
